doctype html
head
  title toa-jade
  meta(http-equiv='content-type' content='text/html;charset=utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
body
  #app
    h1 Toa
    h2.user=user.name
  footer
    | Welcome!
